.readingBooksImage {
  width: 12vw;
  height: 22vh;
}
#readingBooksSection {
  background-color: rgb(43, 53, 61);
  border-radius: 5%;
  width: 35vw;
  height: 90vh;
  overflow-y: scroll;
}
#readingBooksList {
  padding: 5%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
header {
  text-align: center;
}
.readingListElement{
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
  padding-top: 4%;
}

